@font-face {
    font-family: "Vintagio Classico";
    src:
      local("Vintagio Classico"),
      url("font/Vintagio\ Classico.otf") format("opentype"),
      url("font/Vintagio\ Classico.ttf") format("ttf");
}

*{
    margin: 0;
}

body{
    background: linear-gradient(90deg, rgba(0, 0, 255, 1), rgba(255, 0, 0, 1));
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris{
    background: linear-gradient(0deg, rgba(13,7,112,1) 0%, rgba(166,11,4,1) 10%, rgba(6,16,121,1) 20%, rgba(116,2,108,1) 30%, rgba(5,129,2,1) 40%, rgba(3,97,88,1) 50%, rgba(163,4,37,1) 60%, rgba(196,194,1,1) 70%, rgba(162,31,1,1) 80%, rgba(0,193,235,1) 90%, rgba(0,9,255,1) 100%);
    padding: 0.5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(20, auto);
}

.tetris div{
    height: min(3vh, 7vw);
    width: min(3vh, 7vw);
    border: 1px solid rgba(128, 128, 128, 0.75);
    background-color: rgba(24, 31, 39, 0.8);
    border-radius: 0.3vh;

}

.panel{
    font-family: "Vintagio Classico";
}
#score{
    font-size: 6vh;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
#message{
    margin: 1vh 0;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 1);

}
.tetris .O{
    background: rgba(246, 223, 36, 1);
}
.tetris .L{
    background: rgba(246, 172, 255, 1);
}
.tetris .J{
    background: rgba(94, 229, 0, 1);
}
.tetris .S{
    background: rgba(61, 238, 241, 1);
}
.tetris .Z{
    background: rgba(166, 134, 241, 1);
}
.tetris .T{
    background: rgba(107, 72, 228, 1);
}
.tetris .I{
    background: rgba(35, 37, 223, 1);
}

.tetris .O,
.tetris .L,
.tetris .J,
.tetris .S,
.tetris .Z,
.tetris .T,
.tetris .I
{
    box-shadow: -3px -3px 5px 0px rgba(255, 255, 255, 0.45);

}

.keys{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
}
.keys img{
    font-size: 5vh;
    width: 6vh;
    border: 5px solid black;
    border-radius: 20%;
    padding: 10px;
}

.game-over{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: none;;
    justify-content: center;
    align-items: center;
}
.restart{
    padding: 30px;
    border: none;
    border-radius: 15%;
    background-color: aqua;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* .F{
    color: rgba(246, 223, 36, 1);
    color: rgba(246, 172, 255, 1);
    color: rgba(61, 238, 241, 0.75);
    color: rgba(94, 229, 0, 1);
    COLOR: rgba(229, 159, 61, 1);
    COLOR: rgba(77, 175, 255, 1);
    COLOR: rgba(255, 94, 174, 0.75);
    COLOR: rgba(166, 134, 241, 1);
    COLOR: rgba(248, 56, 89, 1);
    COLOR: rgba(107, 72, 228, 1);
    COLOR: rgba(35, 37, 223, 1);
    color: #ff6a3a;

} */